// Variables
@use "../utilities/variables" as *;
// Mixins
@use "../utilities/mixins" as *;

// ------------- Vista TABLET -------------------

@media (min-width: 650px) and (max-width: 1024px) {

    html {
        @include text-style(4px);
    }

    // HEADER de las páginas

    .header {
        @include grid(1fr 2fr 1fr, 2fr auto, null, center, center);
        column-gap: 5rem;
        row-gap: 6rem;
    }

    .header-pages {
        @extend .header;
    }

    .logo {
        transform: translateX(15%);
        padding-top: 6rem;
        @include text-style(6rem);
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .iconos {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        gap: 6.2rem;
        @include padding(null, 7rem, null, 5rem);

        a {
            img {
                width: 8rem;
            }
        }
    }

    .navbar-ajustes {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        position: relative;
        left: -8rem;
        padding-top: 6rem;

        .nav-link {
            padding-right: 7rem;
            @include text-style(6rem);
        }
    }

    .navbar-toggler {
        justify-self: start;
        border: none;
        @include flex(null, center, center, 3rem);
    }

    .texto-boton-menu {
        display: inline-block;
        color: $color-secundario;
        padding-bottom: 1rem;
        @include text-style(7.5rem);

        &:hover {
            transform: scale(1.1);
        }
    }

    .navbar-toggler-icon {
        @include size(7rem, 7rem);

        &:hover {
            transform: scale(1.2);
        }
    }

    .navbar-collapse {
        @include collapse;
    }

    .banner {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }

    // Carrousel de fotos del header del index.html con Bootstrap

    #carouselExampleIndicators {
        .carousel-indicators [data-bs-target] {
            @include size(4rem, 4rem);
            border: 1rem solid $color-secundario;
        }
    }

    // Carrousel de prendas de ropa de la página principal || index.html con Bootstrap y Grid

    #carrousel-ropa-desktop {
        display: none;
    }

    #carrousel-ropa-mobile {
        @extend #carrousel-ropa-desktop ;
    }

    #carrousel-ropa-tablet {
        overflow: hidden;
        display: block;
        @include padding(null, null, null, 3rem, 12rem);

        .container-carrousel-scroll {
            .carousel-slide {
                .carousel-inner {
                    .carousel-item {
                        height: auto !important;
                    }
                }
            }
        }

        .carousel-control-prev-icon {
            background-size: contain;
            pointer-events: auto;
            @include size(15rem, 15rem);
        }

        .carousel-control-next-icon {
            @extend .carousel-control-prev-icon;
        }

        .carousel-control-prev {
            top: 50%;
            left: 0;
            transform: translateX(10%) translateY(-50%);
        }

        .carousel-control-next {
            top: 50%;
            right: 0;
            transform: translateX(-10%) translateY(-50%);
        }
    }

    .card {
        transform: translateX(80%);
        @include margin(0 auto);
        width: 60%;

        &:hover {
            border: 1.5rem solid $color-secundario;
        }
    }

    .card-body {
        height: 15rem;
    }

    .card-title {
        @include text-style(5.5rem);
    }

    .card-text {
        @include text-style(5rem);
    }

    .img-ropa {
        height: 60rem !important;
    }

    // Sección de BENEFICIOS para TODAS las páginas web del sitio web

    .seccion-beneficios {
        @include flex(column, null, null, 10rem);
        @include padding(null, null, 5rem, 10rem, 10rem);
    }

    .beneficio {
        gap: 5rem;

        span {
            @include text-style(7rem);
        }

        img{
            width: 25rem;
        }
    }

    // FOOTER para TODAS las páginas web del sitio web

    .pie-de-pagina {
        @include padding(10rem 10rem);
        @include flex(column, null, null, 17rem);
    }

    .redes {
        h3 {
            margin-bottom: 5rem;
            @include text-style(10rem);
        }
    }

    .iconos-redes {
        gap: 7rem;
    }

    .link-whatsapp {
        width: 15rem;
    }

    .link-instagram {
        @extend .link-whatsapp;
    }

    .link-facebook {
        @extend .link-whatsapp;
    }

    .link-tiktok {
        @extend .link-whatsapp;
    }

    .medios-de-pago {
        h3 {
            margin-bottom: 3rem;
            @include text-style(10rem)
        }
    }

    .logo-medios {
        width: 100rem;
    }

    .ayuda {
        @extend .medios-de-pago;

        p {
            a {
                @include text-style(7rem);
            }

            &:hover {
                a {
                    @include underline(null, null, null, 1.5rem, 1.8rem);
                }
            }
        }
    }

    // Sección de CONTACTOS || <main>

    .lista-de-contactos {
        h2 {
            @include text-style(13rem);
            margin-bottom: 5rem;

            span {
                &:hover {
                    @include text-style(null, 0.5rem $color-secundario);
                    transform: scale(1.2);
                    text-decoration-thickness: 1rem;
                }
            }
        }

        p {
            @include text-style(8rem);
        }

        ul {
            li {
                @include text-style(9rem);
                gap: 0.7rem;

                strong {
                    @include text-style(12rem);
                    width: 100%;
                    display: block;

                    &:hover {
                        @include underline(null, null, null, 1rem, 2rem);
                    }
                }

                a {
                    img {
                        padding-left: 1rem;
                        width: 14rem;
                    }
                }

                input {
                    @include text-style(9rem);
                    @include size(170rem, 14rem);
                }
            }
        }
    }

    // Sección de ¿QUIÉNES SOMOS? || <main> 

    .historia {
        margin-bottom: 25rem;

        h2 {
            margin-bottom: 15rem;
            @include text-style(13rem);

            span {
                &:hover {
                    transform: scale(1.2);
                    @include text-style(null, 0.5rem $color-secundario);
                    @include underline(null, null, null, 1rem, 2rem);
                }
            }
        }
    }

    .bloque-principio {
        @include flex(column, null, null, 4rem);
        margin-bottom: 15rem;

        p {
            text-align: justify;
            width: 100%;
            @include text-style(8rem);
        }

        img {
            @include size(85%, auto);
        }
    }

    .bloque-desarrollo {
        @extend .bloque-principio;
    }

    .bloque-final {
        @extend .bloque-principio;
    }

    // Sección del Catálogo (MAIN)

    .menu-catalogo {
        ul {
            max-width: 200rem;
            @include margin(0 auto);

            .item-catalogo {

                :hover {
                    a {
                        @include underline(none, underline, $color-primario, 1rem, 1.5rem);
                        color: $color-secundario;
                    }
                }

                :focus-visible {
                    a {
                        @include underline(none, underline, $color-primario, 1rem, 1.5rem);
                        color: $color-secundario;
                    }
                }

                a {
                    @include text-style(6rem);
                }
            }
        }

        .fila-ropa-desktop {
            display: none;
        }

        .fila-ropa-mobile {
            display: none;
        }

        #fila-tablet {
            @include flex(null, null, null,  3rem);
            margin-top: 7rem;
            max-width: 100%;
            padding-right: 5rem;

            .col {
                .ropa-card {
                    .img-catalogo {
                        @include size(100%, 50rem !important);
                        object-fit: cover;
                    }
                    .card-body {
                        .card-title {
                            @include text-style(4.5rem);
                            font-family: "Bungee", sans-serif;
                        }
                        .card-text {
                            @include text-style(3rem);
                            font-family: "Roboto", sans-serif;
                            margin-bottom: 0.1rem;
                            text-align: start;
                        }
                    }
                }
            }
        }

        .btn-personalizado {
            .btn {
                transform: translateX(-70%);
            }
        }
    }

    .outlet {
        .fila-ropa-desktop {
            display: none;
        }
        .fila-ropa-mobile {
            display: none;
        }

        #fila-tablet {
            @include flex(null, null, null, 3rem);
            margin-top: 7rem;
            max-width: 100%;
            padding-right: 2rem;

            .col {
                .ropa-card {

                    .card-body {
                        .card-title {
                            @include text-style(4.5rem);
                            font-family: "Bungee", sans-serif;
                        }
                        .card-text {
                            @include text-style(3.5rem);
                            font-family: "Roboto", sans-serif;
                            margin-bottom: 0.1rem;
                            text-align: start;
                        }
                    }

                    .img-catalogo {
                        @include size(100%, 50rem !important);
                        object-fit: cover;
                    }
                }
            }
        }

        .btn-personalizado {
            .btn {
                transform: translateX(-60%);
            }
        }
    }
}